{% extends "base.html" %}
{% block content %}
    <script src="static/scripts/api.js"></script>
    <link rel="stylesheet" href="static/style/index_style.css">

    <div class="main-content">
        <div class="chats-area" id="chatsArea">
            <a class="create-chat-area" href="/add-chat">
                <img src="static/images/add-chat.svg" alt="" class="img add-chat-img">
                <span class="text-content">
                    Добавить чат
                </span>
            </a>
        </div>
        <div class="msg-area">
            {% for chat in chats %}
                <div class="chat-header" id="chatHeader{{ chat.id }}" style="display: none;">
                    {{ chat["name"] }}
                </div>
                <div class="chat-messages" id="msgArea{{ chat.id }}"></div>
            {% endfor %}
            <div class="send-msg-area" id="sendMsgArea" style="display: none;">
                <input type="text" class="msg-input" id="msgDataInput" placeholder="Сообщение..." onkeypress="sendMessageToServer('{{ current_user.id }}', event)">
                <button class="btn send-msg-btn" id="sendMsgBtn" onclick="sendMessageToServer('{{ current_user.id }}')">
                    <img src="static/images/send-msg.svg" alt="">
                </button>
            </div>
        </div>
        <div class="chat-info-area"></div>
    </div>
    <script>
        function setup(responseJson) {
            userId = "{{ current_user.id }}";
            loadData(responseJson);
            createChatsFromData();

            for (let chat of Object.values(userChats)) {
                createMessagesFromData(chat.id);
            }
        }

        const AppAPIKey = "y28qS1JlSKapp0ekse4si08lY7vYgv928Vvlsd7yFrjW0xBZ";
        const eventSource = new EventSource('/event-stream?apikey=' + AppAPIKey);

        eventSource.onmessage = function (event) {
            setup(JSON.parse(event.data));
        }

        eventSource.onerror = function (error) {
            console.error('EventSource failed:', error);
            eventSource.close();
        }

        // setInterval(loadChatsFromServer, 5000);
        // setInterval(loadNewMessagesFromServer, 5000);
    </script>
{% endblock %}