{% extends "base.html" %}
{% block content %}
<!--    <script src="static/scripts/messagesAPI.js"></script>-->
<!--    <script src="static/scripts/chatsAPI.js"></script>-->
    <script src="static/scripts/api.js"></script>
    <link rel="stylesheet" href="static/style/index_style.css">

    <div class="main-content">
        <div class="chats-area">
            <a class="create-chat-area" href="/add-chat">
                <img src="static/images/add-chat.svg" alt="" class="img add-chat-img">
                <span class="text-content">
                    Добавить чат
                </span>
            </a>
            {% for chat in chats %}
                <div class="chat-btn" id="chatBtn{{ chat.id }}" onclick="openChat('{{ chat.id }}')">
                    <div class="chat-icon">
                        <img src="static/images/chat-default.svg" alt="">
                    </div>
                    <div class="chat-info">
                        <div class="chat-name">
                            {{chat["name"]}}
                        </div>
                        {% if chat["messages"].__len__() > 0 %}
                            <div class="last-msg">
                                {{ chat["messages"][-1].data }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="msg-area">
            {% for chat in chats %}
                <div class="chat-header" id="chatHeader{{ chat.id }}" style="display: none;">
                    {{chat["name"]}}
                </div>
                <div class="chat-messages" id="msgArea{{ chat.id }}">
                    <script>
                        loadMessages("{{ chat.id }}", "{{ current_user.id }}");
                    </script>
                </div>
            {% endfor %}
            <div class="send-msg-area" id="sendMsgArea" style="display: none;">
                <input type="text" class="msg-input" id="msgDataInput" placeholder="Сообщение..." onkeypress="sendMessageToServer('{{ current_user.id }}', event)">
                <button class="btn send-msg-btn" id="sendMsgBtn" onclick="sendMessageToServer('{{ current_user.id }}')">
                    <img src="static/images/send-msg.svg" alt="">
                </button>
            </div>
        </div>
        <div class="chat-info-area">
            sad
        </div>
    </div>
{% endblock %}